<div class="form-for-registration">
  <div class="title">
    <h1>Create your profile</h1>
    <h6>
      Enter your name, age, email and phone number to <br />
      complete your profile.
    </h6>
  </div>
  <div class="form-control">
    <label for="name">Name</label> <br />
    <input
      [class.error-for-input]="name.errors?.['required'] && isBtnClicked"
      id="name"
      type="text"
      [formControl]="name"
      placeholder="Liuda"
    />
    <p class="error" *ngIf="name.errors?.['required'] && isBtnClicked">
      This field must be fill
    </p>
  </div>
  <div class="form-control">
    <label for="age">Age</label> <br />
    <input
      [class.error-for-input]="age.errors?.['required'] && isBtnClicked"
      id="age"
      type="number"
      [formControl]="age"
      placeholder="20"
    />
    <p class="error" *ngIf="age.errors?.['required'] && isBtnClicked">
      This field must be fill
    </p>
  </div>
  <div class="form-control">
    <label for="email">Email</label> <br />
    <input
      [class.error-for-input]="email.errors?.['required'] && isBtnClicked"
      id="email"
      type="email"
      [formControl]="email"
      placeholder="example@gmail.com"
    />
    <p class="error" *ngIf="email.errors?.['email']&& isBtnClicked">
      This field must be email
    </p>
    <p class="error" *ngIf="email.errors?.['required']&& isBtnClicked">
      This field must be fill
    </p>
  </div>
  <div class="form-control">
    <label for="phone">Phone</label> <br />
    <input
      [class.error-for-input]="phone.errors?.['required'] && isBtnClicked"
      id="phone"
      type="text"
      [formControl]="phone"
      placeholder="+380967950559"
    />
    <p class="error" *ngIf="phone.errors?.['required']&& isBtnClicked">
      This field must be fill
    </p>
  </div>
  <button (click)="addUserToList()">Add</button>
</div>
<div class="list" *ngIf="listOfUser.length !== 0">
  <div class="list-of-users-head">
    <p class="for-name">Name</p>
    <p class="for-age">Age</p>
    <p class="for-email">Email</p>
    <p class="for-phone">Phone</p>
  </div>
  <div *ngFor="let user of listOfUser" class="list-of-users">
    <p class="for-name">{{ user.name }}</p>
    <p class="for-age">{{ user.age }}</p>
    <p class="for-email">{{ user.email }}</p>
    <p class="for-phone">{{ user.phone }}</p>
      <div class="for-name-and-email">
        <p class="for-name-mobile">{{ user.name }}</p>
        <p class="for-email-mobile">{{ user.email }}</p>
      </div>
      <div class="block-for-age">
        <p class="for-age-mobile">{{ user.age }} y.o.</p>
      </div>
  </div>
</div>
